---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Services from "../components/Services.astro"
import Expertise from '../components/Expertise.astro';
import CsipAus from '../components/CsipAus.astro';
import Team from '../components/Team.astro';
import Case from '../components/Case.astro';

---

<Layout title="Smart Tech">
	<main class="space-y-20">
		<Hero/>
		<Services/>
		<Case/>
		<Team/>
		<Expertise/>
		<CsipAus/>

	</main>
</Layout>